---
http_interactions:
- request:
    method: get
    uri: https://xboxapi.com/v2/game-details-hex/65d9b841
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth:
      - 1479cc869dc35af2fa7ef83201cae02e389c2071
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '120'
      X-Ratelimit-Reset:
      - '2952'
    body:
      encoding: UTF-8
      string: '{"Items":[{"MediaGroup":"GameType","MediaItemType":"DGame","ID":"02670f2e-1054-42c2-b16e-2dcf67d2c147","Name":"Ryse:
        Son of Rome","Description":"Amidst the chaos of the late Roman Empire, become
        soldier Marius Titus and embark on a perilous campaign to avenge the death
        of your family and defend the honor of Rome. In Gladiator Mode, step into
        the Colosseum and fight for the glory, spectacle, and entertainment of the
        crowds.\n\nThe downloadable version of this game supports English, French,
        Italian, German, Spanish, Portuguese","ReducedDescription":"Amidst the chaos
        of the late Roman Empire, become soldier Marius Titus and embark on a perilous
        campaign to avenge the death of your family and defend the honor of Rome.
        In Gladiator Mode, step into the Colosseum and fight for the glory, spectacle,
        and entertainment of the crowds.","ReducedName":"Ryse: Son of Rome","ReleaseDate":"2013-11-22T00:00:00Z","TitleId":1708767297,"VuiDisplayName":"Ryse","Genres":[{"Name":"Action
        & Adventure"},{"Name":"Fighting"}],"DeveloperName":"Crytek","Images":[{"ID":"02670f2e-1054-42c2-b16e-2dcf67d2c147","Url":"https:\/\/dlassets-ssl.xboxlive.com\/public\/content\/02670f2e-1054-42c2-b16e-2dcf67d2c147\/74aaf5c7-2d03-4fa3-b4ee-d36c7b125101\/2daa7e19-c18f-4622-9efe-fb7f5335c77c.png","ResizeUrl":"http:\/\/images-eds.xboxlive.com\/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcQpgYU1NNEP7dAdC4fAt6MloU7pUi.GQWUtZnmLfBcBbJf9Jht6M._so11onaHwWCHdLr.rrC5_6SL2uduH1KmT763g9DtJEdTsY8zdrsjq9bYQ5vPKd2t1zAJl.QuGq49sKKYeIbsLOxdD5izSnx3Hk4jM6k_oIJ5B32hCJtpuw-","Purposes":["Image"],"Purpose":"Image","Height":1080,"Width":1920},{"ID":"02670f2e-1054-42c2-b16e-2dcf67d2c147","Url":"https:\/\/dlassets-ssl.xboxlive.com\/public\/content\/02670f2e-1054-42c2-b16e-2dcf67d2c147\/b77f26b9-e18b-487f-ae49-663d05ad9f18\/c0d6b46f-d67a-4cd4-b9cf-91600303d0e3.png","ResizeUrl":"http:\/\/images-eds.xboxlive.com\/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcQpgYU1NNEP7dAdC4fAt6MloU7pUi.GQWUtZnmLfBcBZsgOuj7xbR25f45TbgdinjTKEu2xnJ5aEKs5E4qRacQihaHOVQa3dLnYWw1B0NOMSR8_qQHs_kho2Lp4wf3Zz_lx4U05.KuMQrqTY2XyYo9[...]
